@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tab {
    @apply flex flex-col items-center justify-center py-3 px-4 text-sm
  hover:bg-stone-100 dark:hover:bg-dark-300 active:text-white
  dark:active:text-white active:bg-emerald-500 dark:text-dark-600
  dark:active:bg-emerald-500 transition-colors duration-200 cursor-pointer;
  }

  .rowIcon {
    @apply flex gap-1 items-center justify-center md:justify-start w-full py-2 px-4 dark:text-dark-600;
  }

  .rowPost {
    @apply flex flex-col md:flex-row justify-between items-center w-full px-2 pt-4 last:rounded-b-lg
    pb-2 md:py-4 cursor-pointer last:border-b-0 border-b-2 border-b-stone-100 hover:bg-stone-100 
    dark:bg-dark-200 dark:border-b-dark-100 dark:hover:bg-dark-100;
  }
}
